a:link, a:visited, a:active {
    text-decoration:none;
}

.navmain{
    background: #225FD9;
    width: 100%;
    height: 110px;
}

.main{
    background-color: #ffffff;
    width: 100%;
    height: 660px;
}

.footermain{
    background-color: #969696;
    width: 100%;
    height: 100px;
}

.nav1{
    color: #C7741B;
    font-family: 'Raleway';
    font-family: '';
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: 20px;
}

.lista{
    color: #d17b1e;
    font-family: 'Reklame Script';
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
    right: -1550px;
    display: inline;
}

.listanav{
    list-style: none;
    color: #C7741B;
}

.copyright{
    display: inline-block;
    color: #ffffff;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: 20px;
    right: -800px;
}

.titulo1{
    color: black;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    top: 50px;
    right: -800px;   
}

.titulo2{
    color: black;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 60px;
    right: -760px;   
}

.botoninicio{
    color: orangered;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    top: 80px;
    right: -760px;

}

.formularioLogin{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 250px;
    right: -800px;
}


.formularioRegistro{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 250px;
    right: -800px;
}