/* General */

a:link, a:visited, a:active {
    text-decoration:none;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.containermain{
    background-image: url(../img/fondo.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right bottom;
}

header h1{
    text-align: left;
    float: left;
    margin-left: 40px;
    line-height: 100px;
}

.titulo{
    color: white;
}

nav{
    float: right;
}

nav div ul li{
    list-style: none;
    float: right;
    margin: 25px;
    line-height: 100px;
}

.listanav{
    color: white;
    font-size: 28px;
    font-weight: 700;

}

main{
    height: 100%;
    width: 100%;

}

footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

div p{
    color: white;
    line-height: 50px;
    text-align: center;
}

/* Index */

div h2{
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}


.botoninicio{
    font-size: 40px;
    color: white;
    text-align: center;
    border: 5px solid #EE8908;
    background-color: #EE8908;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Registro */

.tituloRegistro{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 25%;
    transform: translateX(-50%) translateY(-50);
}

.cajaRegistro{
    border-radius: 20px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    left: 40%;
    top: 30%;
    transform: translateX(-50%) translateY(-50);
}

.formularioRegistro{
    font-size: 20px;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.formularioRegistro1{
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.errorRegistro{
    color: red;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

/* Login */

.formularioLogin{
    border-radius: 20px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    left: 40%;
    top: 30%;
    transform: translateX(-50%) translateY(-50);
}

@media (max-width: 450px){

    .titulo{
        font-size: 20px;
    }

    div h2 {
        font-size: 25px;
        top: 30%;
    }
}   








/* 450 768 992 1200*/