<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Equipo, Encontra tu proximo rival</title>
    <link rel="stylesheet" href="/css/Estilos.css">
</head>
<body>
    <nav class="navmain" id="navmain">
        <div class="container">
            <a class="nav1" href="/index.html">Tu Equipo</a>
                <ul class="listanav">
                    <li class="lista"> <a href="/registro.html">Registrar</a></li>
                    <li class="lista"> <a href="/login.html">Log in</a></li>
                </ul>
        </div>
    </nav>
    <main class="main">
        <div class="containter1">
            <h2 class="titulo2" id="titulo2"> Encontra tu proximo rival</h2>
            <a class="botoninicio" href="/registro.html" >Registrate ahora</a>
        </div>
    </main>
    <footer class="footermain">
        <div class="containter2">
            <p class="copyright">Copyright © 2020 - Tu Equipo</p>
        </div>    
    </footer>
</body>
</html>