<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Equipo, Encontra tu proximo rival</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="containermain">
        <header>
            <h1> <a class="titulo" href="/"> Tu Equipo</a> </h1>
            <nav>
                <div>
                    <ul>
                        <li> <a class="listanav" href="/Registro"> Registrarse</a></li>
                        <li> <a class="listanav" href="/login"> Ingreso</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="main">
            <div class="login">
                <form action="/logincheck" method="POST" class="formularioLogin">

                    <p th:if="${error !=null}" th:text="${error}" style="color:red;"></p>
                    <p th:if="${logout !=null}" th:text="${logout}" style="color:green;"></p>

                    <input type="text" class="formularioLogin" id="usuario" placeholder="Usuario" name="nombre" required><br>
                    <input type="password" class="formularioLogin" id="contraseña" placeholder="Contraseña" name="clave1" required><br>
                    <input type="submit" class="formularioLogin">

                </form>
            </div>
        </main>
        <footer>
            <div>
                <p> Copyright © 2020 - Tu Equipo </p>
            </div>
        </footer>
    </div>
</body>

</html>