<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Perfil</title>
        <link href="/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="containermain">
            <header>
                <h1>
                    <a name='lupa' class="titulo" href="/buscador"> 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                    </a>
                    <label for="lupa" style="color:white" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'">Busca Tu Rival</label>
                </h1>
                <nav>
                    <div>
                        <ul>
                            <li> <a class="listanav" href="/logout"> Salir</a></li>
                        </ul>
                    </div>
                </nav>
            </header>

            <main>
                <div>
                    <h3 class="tituloRegistro">Modifique su Perfil ♥ ♥ ♥</h3>
                    <div>    
                        
                    </div>
                    <div class="foto">
                        <img th:src="@{/cargar/__${equipo.foto.id}__}" width="100px" height="100px" >
                    </div>
                    <form class="cajaRegistro" action="/usuario/actualizar-perfil" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="nombre" th:value="${equipo.nombre}">
                        
                        <p class="formularioRegistro"  name="nombre" th:text="${equipo.nombre}"></p><br>
                        <p class="formularioRegistro"  name="tipo" th:text="${equipo.tipo}"></p><br>
                        <p class="formularioRegistro"  name="categoria" th:text="${equipo.categoria}"></p><br>
                        <p class="formularioRegistro" name="mail" th:text="${equipo.mail}"></p><br>

                        <input class="formularioRegistro" type="tel"  name="numero1" placeholder="Telefono capitan" required th:value="${equipo.numero1}"><br>
                        <input class="formularioRegistro" type="tel"  name="numero2" placeholder="Telefono co-capitan" required th:value="${equipo.numero2}" ><br>
                        <input class="formularioRegistro" type="password" name="clave1" placeholder="Contraseña" required ><br>
                        <input class="formularioRegistro" type="password" name="clave2" placeholder="Repetir contraseña" required ><br>
                        <input class="formularioRegistro" type="text" name="descripcion" placeholder="Descripcion de su equipo" th:value="${equipo.descripcion}"><br>   

                        <select class="formularioRegistro" name="turno" type="text" id="turno">  
                            <option value="MAÑANA">MAÑANA</option>
                            <option value="TARDE">TARDE</option>
                            <option value="NOCHE">NOCHE</option>
                        </select><br>
                        <select class="formularioRegistro" name="zona" id="zona">
                            <option value="CAPITAL"> CAPITAL</option>
                            <option value="GODOY_CRUZ"> GODOY CRUZ</option>
                            <option value="GUAYMALLEN"> GUAYMALLEN</option>
                            <option value="LAS_HERAS"> LAS HERAS</option>
                            <option value="LUJAN_DE_CUYO"> LUJAN DE CUYO</option>
                            <option value="MAIPU">MAIPU</option>
                        </select><br>
                        <select class="formularioRegistro" name="dia" id="dia">
                            <option value="LUNES"> LUNES</option>
                            <option value="MARTES">MARTES</option>
                            <option value="MIERCOLES"> MIERCOLES</option>
                            <option value="JUEVES"> JUEVES</option>
                            <option value="VIERNES"> VIERNES</option>
                            <option value="SABADO"> SABADO</option>
                            <option value="DOMINGO"> DOMINGO</option>
                        </select><br>
                        <select class="formularioRegistro" name="cantidadJugadores" id="cantidadJugadores"> 
                            <option value="CINCO">5</option>
                            <option value="SIETE">7</option>
                            <option value="ONCE">11</option>
                        </select><br>
                        <input class="formularioRegistro1" type="file" name="archivo" size="30"><br>
                        <input class="formularioRegistro" type="submit" value="Actualizar datos">
                        
                        <p th:text="${exito}" style="color:white;"></p>

                    </form>
                    
                </div>
                <form th:action="@{/usuario/eliminar-perfil}" method="POST">
                    <input type="hidden" name="nombre" th:value="${equipo.nombre}">
                    <button type="submit"> Eliminar equipo </button> 
                </form>
                
            </main>
            <!--footer>
                <div>
                    <p> Copyright © 2020 - Tu Equipo </p>
                </div>
            </footer-->
        </div>
        <script th:inline="javascript">
            function selected(obj,str){
                for ( var i = 0, len = obj.length; i < len; i++ ) { 
                    if (obj[i].value === str) {
                        obj[i].selected = true;
                        break;
                    }
                }
            }
            selected(document.getElementById("turno"),[[${equipo.turno}]]);
            selected(document.getElementById("cantidadJugadores"),[[${equipo.cantidadJugadores}]]);
            selected(document.getElementById("zona"),[[${equipo.zona}]]);
            selected(document.getElementById("dia"),[[${equipo.dia}]]);
        </script>
    </body>

</html>